langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
huggingface_hub
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
duckduckgo-search